.list-styles li:before {
    content: "✔";
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    text-align: center;
    line-height: 1.2em;
    margin-right: 0.8em;
    color: #fff;
    background-color: #10B981;
}

@media screen and (max-width: 768px) {
    .our-strength {
        flex-direction: column;
    }
    .our-strength-img {
        margin: 0 auto 2rem;
    }
    .our-strength-content, .our-strength-img {
        width: 100%;
    }
    .our-strength-inner {
        padding: 2rem;
    }
}