.list-styles li {
    margin-bottom: 1rem;
}
.list-styles li::before {
    content: "✔";
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    text-align: center;
    line-height: 1.2em;
    margin-right: 0.8em;
    color: #fff;
    background-color: #10B981;
}

@media (max-width: 768px) {
    .white-text-box {
        width: 95%;
    }
}