.right-image {
    margin-right: 110px;
}

.left-image {
    margin-left: 110px;
}

@media (max-width: 600px) {
    .left-image {
        margin-left: 22px; /* Apply when screen width is less than 600px */
    }
}

@media (max-width: 600px) {
    .right-image {
        margin-right: 22px; /* Apply when screen width is less than 600px */
    }
}

@media (max-width: 600px) {
    .text-box  {
       z-index:1
    }
}




.image-centered {
    max-width: 80%;
}

.right-image, .left-image {
    height: 420px;
    position: absolute;
    top: 60px;
}