@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    animation: marquee 15s linear infinite;
  }

  .paused {
    animation-play-state: paused;
  }

  @media screen and (max-width: 768px) {
    .paused {
      animation-play-state: running;
    }
  }