/*!***********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/HomePage/HomePageSlider/HomePageSlider.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************/
.right-image {
    margin-right: 110px;
}

.left-image {
    margin-left: 110px;
}

@media (max-width: 600px) {
    .left-image {
        margin-left: 22px; /* Apply when screen width is less than 600px */
    }
    .right-image {
        margin-right: 22px; /* Apply when screen width is less than 600px */
    }
    .text-box  {
       z-index:1
    }
}




.image-centered {
    max-width: 80%;
}

.right-image, .left-image {
    height: 420px;
    position: absolute;
    top: 60px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/HomePage/HomePageWhatWeAre/HomePageWhatWeAre.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************/
.markdown-content p {
    margin-bottom: 1rem;
    font-weight: normal;
}

.what-we-are::-webkit-scrollbar {
    width: 0;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/components/HomePage/HomePageOurClients/HomePageOurClients.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************/
@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    animation: marquee 15s linear infinite;
  }

  .paused {
    animation-play-state: paused;
  }

  @media screen and (max-width: 768px) {
    .paused {
      animation-play-state: running;
    }
  }
